body{
    background-color: rgba(0, 0, 139, 0.455);
    background-position:center;
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 25px;
}
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(200, 219, 249);
    border-radius: 50PX 40PX;
    background-color: rgb(255, 255, 233);
    color: darkblue;
    bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 33px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 60px;
}

article{
    margin: 10px;
    margin-left: 15%;
    font-size: 15px;
    background-color: rgb(37, 55, 88);
    color: antiquewhite;
    border-radius: 30px 50px 50px;
    border-bottom: 15%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
    li{
        margin-left: 15%;
        margin-right: 15%;
    }
}
p{
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    background-color: rgb(97, 126, 181);
    color: darkblue;
}
#regreso{
    border-radius: 25%;
    background-color: rgb(37,55,88);
    margin-left: 25%;
    margin-right: 25%;
}

a{
    font-family: fantasy;
    color:rgb(140, 180, 217);
    font-size: 40px;
}
.leyenda{
    border-radius: 25%;
    background-color: darkblue;
    margin: 5%;
}
.CeldaImagen{
    width: 100%;
    height: 75%;
    object-fit: cover;
}
table{
    border-radius: 10%;
}
.Pie{
    margin-top: 10px;
    color:rgb(49, 49, 49);
    text-align: center;
    padding: 20px;
    background-color: #4d6497f0;
    font-family: Arial, sans-serif;
}

.Pie hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
table{
    justify-content: center;
    background-color: rgb(204, 215, 225);
    color:rgb(41, 49, 60);
    width: 95%;
    height: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 5%;
    th{
        font-size: xx-large;
        background-color: #333;
        color: aliceblue;
    }
    td{
        width: 50%;
    }

}