body{
    background: linear-gradient(90deg, rgb(11, 11, 11) 2%, rgba(8,28,114,1) 82%, rgba(2,0,36,0.6946428229494923) 100%);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    h1{
        padding-left: 25px;
    }
}
