table{
    background-color: rgba(46, 23, 83, 0.268);
    color:rgb(35, 35, 35);
    border: 5px;
    border-color: rgb(0, 0, 0);
    width: 75%;
    height: 75%;
    font-size: 18px;
    margin-left: 12.5%;
    border-style:double;
    margin-bottom: 20px;
    td{
        background-color: rgb(231, 231, 231);
        border-color: black;
        border-style: double;
        border: 3px;
    }
}
table caption{
        color:red;
        border-color: rgb(39, 39, 39);
        border: 10px;
        background-color: rgb(27, 33, 53);
        font-size: xx-large;
}

#regreso{
    border-radius: 25%;
    background-color: rgb(37,55,88);
    margin-left: 25%;
    margin-right: 25%;
}

a{
    font-family: fantasy;
    color:rgb(161, 187, 211);
    font-size: 40px;
}
